.bottomsheet-container {
	width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
	transform: translateY(100%);
	transition: transform 0.2s linear;
    overflow: hidden;
	background-color: #FFFFFF;
	box-sizing: border-box;

	.bottomsheet-handle-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.bottomsheet-handle-indicator {
		width: 20%;
		max-width: 90px;
		height: 4px;
		background-color: #CCCCCC;
	}

	&.touch {
		transition: none;
	}

	.bottomsheet {
		display: flex;
		flex-direction: column;
	}
}