.bottomsheet-container {
	display: flex;
    flex-direction: column;
	width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
	transform: translateY(100%);
	transition: transform 0.1s ease;
	border: 0;
	padding: 0;
	gap: 10px;
    overflow: hidden;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 6px hsla(0, 0%, 100%, .6);
	touch-action: none;

	.bottomsheet-handle-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 15px;
	}

	.bottomsheet-handle-indicator {
		width: 20%;
		max-width: 90px;
		height: 4px;
		background-color: #CCCCCC;
	}

	&.touch {
		transition: none;
	}

	.bottomsheet {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.content {
		flex: 1;
		flex-basis: 0;
		display: block;
		position: relative;
		width: 100%;
		max-height: 90vh;
		padding: 10px;
		overflow: auto;
		color: #000000;

		::-webkit-scrollbar {
			width: 5px;
			transition: 0.3s;
		}

		::-webkit-scrollbar-thumb {
			background-color:  #979faa;
		}
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 15px;
		color: #000000;
	}

	:global(.dark) & {
		background-color: #041030;

		.footer {
			color: #FFFFFF;
		}

		.content {
			background-color: #041030;
			color: #E0E1E5;
		}
	}
}